@tailwind base;
@tailwind components;
@tailwind utilities;

.hideScrollBar::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width if needed, this will act as a fallback in case hiding fails */
}

.hideScrollBar::-webkit-scrollbar-track {
  background-color: transparent; /* This is necessary to hide the default scrollbar track */
}

.hideScrollBar::-webkit-scrollbar-thumb {
  background-color: transparent; /* This is necessary to hide the default scrollbar thumb */
}

/* For firefox */
.hideScrollBar {
  scrollbar-width: none;
}
